.article {
    min-width: 300px;

    .views {
        width: 100vw;

        .main {
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .articles {
                width: 600px;
                height: 100%;
                margin: 20px 20px 20px 0;
                background-color: #fff;
                box-shadow: 0 0 3px 2px rgb(204, 204, 204, 0.3);
            }

            .side_bar {
                position: sticky;
                top: 80px;
                right: 30px;
                width: 270px;
                height: 480px;
                transition: all .3s;
            }

            @media screen and (max-width: 800px) {
                .side_bar {
                    display: none;
                }

                .articles {
                    margin-right: 0;
                }
            }
        }
    }

    .tool_kits {
        position: fixed;
        bottom: 60px;
        right: 60px;

        .arrow {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
            transition: all .3s;

            i {
                font-size: 20px;
                color: #777;
                transition: all .3s;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}