@font-face {
  font-family: "iconfont"; /* Project id 3850622 */
  src: url('//at.alicdn.com/t/c/font_3850622_9vj6g6y3045.woff2?t=1673010175425') format('woff2'),
       url('//at.alicdn.com/t/c/font_3850622_9vj6g6y3045.woff?t=1673010175425') format('woff'),
       url('//at.alicdn.com/t/c/font_3850622_9vj6g6y3045.ttf?t=1673010175425') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-leftarrow1f:before {
  content: "\e682";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-cuo:before {
  content: "\e6c9";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-password:before {
  content: "\e625";
}
