@font-face {
  font-family: "iconfont"; /* Project id 3850622 */
  src: url('//at.alicdn.com/t/c/font_3850622_3eg8vtuhxsd.woff2?t=1673929284737') format('woff2'),
       url('//at.alicdn.com/t/c/font_3850622_3eg8vtuhxsd.woff?t=1673929284737') format('woff'),
       url('//at.alicdn.com/t/c/font_3850622_3eg8vtuhxsd.ttf?t=1673929284737') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-zhedie:before {
  content: "\e609";
}

.icon-playfill:before {
  content: "\e74f";
}

.icon-pause:before {
  content: "\e63a";
}

.icon-restart-line:before {
  content: "\e66c";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon--studying:before {
  content: "\e683";
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-Magnify:before {
  content: "\e635";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-comments:before {
  content: "\e68a";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-tuijian:before {
  content: "\e608";
}

.icon-remen:before {
  content: "\e8f4";
}

.icon-zuixinzixun-10:before {
  content: "\e94e";
}

.icon-31huidaodingbu:before {
  content: "\e600";
}

.icon-qrcode:before {
  content: "\e7dd";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-Writing:before {
  content: "\e69d";
}

.icon-search:before {
  content: "\e65c";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-leftarrow1f:before {
  content: "\e682";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-cuo:before {
  content: "\e6c9";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-password:before {
  content: "\e625";
}
