@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/0jpUfei6tfOw/MTC-UuGTtD9Z7hS2PC25d.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/0jpUfei6tfOw/869coyhJQIZJJzGiQVi1L.woff") format("woff");
    font-display: swap;
}