* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    ::-webkit-scrollbar{
        display: none;
    }
}

body {
    scroll-behavior: smooth;
}

input {
    outline: 0;
    background-color: transparent;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}